body {
  background-color: beige;
  margin: 50px;
}
h1 {
  color: brown;
  font-family: verdana;
  font-size: 32px;
}
h2 {
  color: brown;
  font-family: arial;
  font-size: 24px;
}
p {
  color: wine;
  font-family: arial;
  font-size: 16px;
  margin: 50px;
}
